.hero__socials .icons{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.hero__socials img {
  width: 80px;
  filter: invert(0.5);
  transition: 0.3s ease-in-out;
}

.hero__socials img:hover {
  cursor: pointer;
  filter: invert(1);
}

#root img{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(-10%);
  opacity: 0.2;
  width: 100vw;
}